body {
    background: #0b1221;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#menu {
    margin-top: 40px;
}

canvas {
    display: none;
    margin: auto;
    border: 4px solid #00eaff;
    background: #1a2a3d;
}

select, button {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

button {
    background: #00eaff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #00bcd4;
}
